:root {
    --basic-font-family: "BMDoHyeon-Regular", Helvetica;
    --basic-font-weight: 400;
    --basic-font-size: 20px;
    --basic-letter-spacing: 0px;
    --basic-line-height: normal;
    --basic-font-style: normal;
  }
  