<!DOCTYPE html>
<html>
<head lang="ko">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>다!잡아파이팅!!</title>
  <link rel="stylesheet" href="../static/globals.css" />
  <link rel="stylesheet" href="../static/styleguide.css" />  
  <link rel="stylesheet" href="../static/service_style.css">
</head>
<body>

  <div class="service">
    <div class="copy-right">
      <div class="copyright">Copyright © 다!잡아</div>
    </div>
    <div class="service-expectations">
      <div class="expect-flow">
        <div class="flow-line">
          <div class="line-1"></div>
          <div class="line-2"></div>
          <div class="line-3"></div>
        </div>
        <div class="flow-1">
          <div class="flow-bg-1"></div>
          <div class="expect1">객체 탐지 알고리즘</div>
          <img class="spy" src="images/spy.png" />
        </div>
        <div class="flow-2">
          <div class="flow-gb-2"></div>
          <div class="expect2">순찰차 블랙박스</div>
          <img class="badge" src="images/badge.png" />
        </div>
        <div class="flow-3">
          <div class="flow-gb-3"></div>
          <div class="expect3">교통법규 위반 탐지</div>
          <img class="fotbidden" src="images/fotbidden.png" />
        </div>
        <div class="flow-4">
          <div class="flow-bg-4"></div>
          <div class="expect4">위반 리스트 도출</div>
          <img class="list" src="images/list.png" />
        </div>
        <div class="flow-5">
          <div class="flow-bg-5"></div>
          <div class="expect5">차량 내부 스크린 출력</div>
          <img class="display" src="images/display.png" />
        </div>
        <div class="flow-6">
          <div class="flow-bg-6"></div>
          <img class="policeman" src="images/policeman.png" />
          <div class="expect6">순찰 현장 <br />단속 강화</div>
        </div>
        <div class="flow-7">
          <div class="flow-bg-7"></div>
          <img class="decrease" src="images/decrease.png" />
          <div class="expect7">교통법규<br />위반율 감소</div>
        </div>
      </div>
      <div class="expect-text">
        <div class="group-47">
          <div class="service-expectations2">Service Expectations</div>
          <div class="expect-context">서비스 어디까지 가능한가요?</div>
        </div>
      </div>
    </div>
    <div class="newspaper">
      <img class="news-bg" src="images/newsBG.png" />
      <div class="art-4">
        <img class="article-4" src="images/article4.png" />
        <div class="art-bg-4"></div>
      </div>
      <div class="art-3">
        <img class="article-3" src="images/article3.png" />
        <div class="art-bg-3"></div>
      </div>
      <div class="art-2">
        <img class="article-2" src="images/article2.png" />
        <div class="art-bg-2"></div>
      </div>
      <div class="art-1">
        <img class="article-1" src="images/article1.png" />
        <div class="art-bg-1"></div>
      </div>
      <div class="news-text">
        <div class="news-context">“올해도 어김없이, 개인형 이동장치·이륜차 단속 강화”</div>
        <div class="pm">전국 경찰 PM 집중 단속 실시</div>
      </div>
    </div>
    <div class="header">
      <div class="header-bg"></div>
      <div class="header-text">
        <div class="the-problem">The Problem</div>
        <div class="problem-text">우리의 일상생활 정말 안전한가요?</div>
      </div>
      <div class="infographic">
        <img class="problem-ig" src="images/problemIG.png" />
        <div class="_2022">출처: “2022 교통사고 통계 분석”, 도로교통공단</div>
      </div>
    </div>
    <div class="nav-bar-w-home">
      <div class="nav-bar-bg"></div>
      <a class="data" href="data2.html">Data</a>
      <a class="simulate" href="simulate.html">Simulate</a>
      <a class="service2"href="#">Service</a>
      <a href="https://github.com/KHP95/AIB_TP2" target="_blank" rel="noopener noreferrer"><img class="github-mark" src="images/github_mark.png"/></a>
      <a class="home" href="index.html">Home</a>
      <img class="home-icon" src="images/home_icon.png" onclick="location.href='index.html'" style="cursor: pointer;" />
    </div>
  </div>
  

</body>
</html>