<!DOCTYPE html>
<html>
  <head lang="ko">
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>다!잡아파이팅!!</title>
      <link rel="stylesheet" href="../static/globals.css" />
      <link rel="stylesheet" href="../static/styleguide.css" />
      <link rel="stylesheet" href="../static/data_style.css" />
  </head>
  <body>
    <div class="data">
      <div class="div">
        <div class="overlap">
          <div class="copy-right"><div class="text-wrapper">© 2023 다!잡아</div></div>
          <footer class="footer">
            <div class="overlap-group">
              <div class="train-data">
                <div class="overlap-group-2">
                  <div class="text-wrapper-2">맑음</div>
                  <div class="text-wrapper-3">우천</div>
                  <div class="text-wrapper-4">주간</div>
                  <div class="text-wrapper-5">야간</div>
                  <div class="text-wrapper-6">CCTV</div>
                  <div class="text-wrapper-7">블랙박스</div>
                  <img
                    class="divider-line"
                    src="https://generation-sessions.s3.amazonaws.com/a083e9733fc4f133e0080f5aa071a258/img/dividerline-1.svg"
                  />
                  <img
                    class="img"
                    src="https://generation-sessions.s3.amazonaws.com/a083e9733fc4f133e0080f5aa071a258/img/dividerline-1.svg"
                  />
                  <div class="overlap-2">
                    <img
                      class="day-p"
                      src="https://generation-sessions.s3.amazonaws.com/a083e9733fc4f133e0080f5aa071a258/img/dayp.svg"
                    />
                    <img
                      class="img-2"
                      src="images/sunny.png"
                    />
                    <div class="text-wrapper-8">50,388개</div>
                  </div>
                  <div class="overlap-3">
                    <img
                      class="img-2"
                      src="images/rainy.png"
                    />
                    <div class="text-wrapper-9">2,174개</div>
                  </div>
                  <div class="overlap-4">
                    <img
                      class="sunny"
                      src="images/day.png"
                    />
                    <div class="text-wrapper-10">54,249개</div>
                  </div>
                  <div class="overlap-5">
                    <img
                      class="night-p"
                      src="https://generation-sessions.s3.amazonaws.com/a083e9733fc4f133e0080f5aa071a258/img/nightp.svg"
                    />
                    <img
                      class="img-2"
                      src="images/night.png"
                    />
                    <div class="text-wrapper-11">6,035개</div>
                  </div>
                  <div class="overlap-6">
                    <img
                      class="cctv-p"
                      src="https://generation-sessions.s3.amazonaws.com/a083e9733fc4f133e0080f5aa071a258/img/cctvp.svg"
                    />
                    <img
                      class="cctv"
                      src="images/cctv.png"
                    />
                    <div class="text-wrapper-12">53,691개</div>
                  </div>
                  <div class="overlap-7">
                    <img
                      class="blackbox-p"
                      src="https://generation-sessions.s3.amazonaws.com/a083e9733fc4f133e0080f5aa071a258/img/blackboxp.svg"
                    />
                    <img
                      class="blackbox"
                      src="images/blackbox.png"
                    />
                    <div class="text-wrapper-13">2,732개</div>
                  </div>
                </div>
                <div class="overlap-8">
                  <img
                    class="exmp-img"
                    src="images/exmpImg1.png"
                  />
                  <img
                    class="exmp-img-2"
                    src="images/exmpImg2.png"
                  />
                  <img
                    class="exmp-img-3"
                    src="images/exmpImg3.png"
                  />
                  <div class="flexcontainer-wrapper">
                    <div class="flexcontainer">
                      <p class="text">
                        <span class="span">종류：블랙박스<br /></span>
                      </p>
                      <p class="text">
                        <span class="span">환경：주간<br /></span>
                      </p>
                      <p class="text">
                        <span class="span">날씨：맑음<br /></span>
                      </p>
                      <p class="text">
                        <span class="span"
                          >위반：자전거 탑승자 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 횡단보도 주행
                          위반</span
                        >
                      </p>
                    </div>
                  </div>
                  <div class="div-wrapper">
                    <div class="flexcontainer-2">
                      <p class="text">
                        <span class="span">종류：CCTV<br /></span>
                      </p>
                      <p class="text">
                        <span class="span">환경：주간<br /></span>
                      </p>
                      <p class="text">
                        <span class="span">날씨：우천<br /></span>
                      </p>
                      <p class="text">
                        <span class="span"
                          >위반 : 오토바이 탑승자 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 정지선 위반</span
                        >
                      </p>
                    </div>
                  </div>
                  <div class="overlap-9">
                    <div class="flexcontainer-3">
                      <p class="text">
                        <span class="span">종류：블랙박스<br /></span>
                      </p>
                      <p class="text">
                        <span class="span">환경：야간<br /></span>
                      </p>
                      <p class="text">
                        <span class="span">날씨：맑음<br /></span>
                      </p>
                      <p class="text">
                        <span class="span"
                          >위반 : 오토바이 탑승자 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 보행자도로 통행
                          위반</span
                        >
                      </p>
                    </div>
                  </div>
                </div>
                <p class="p">&lt; 학습 데이터 비율 &gt;</p>
                <div class="text-wrapper-14">&lt; 이미지 예시 &gt;</div>
              </div>
            </div>
            <div class="footer-text">
              <p class="CCTV-CCTV">
                날씨, 밤낮, 실제 환경을 고려한 총 56,423개의 데이터를 활용했습니다<br />블랙박스 영상는 물론, CCTV 영상도
                활용했기 때문에 <br />추후 도로 교통 CCTV 위반 탐지 서비스도 가능할 것입니다
              </p>
              <div class="text-wrapper-15">어떤 데이터로 모델을 학습시켰나요?</div>
              <div class="text-wrapper-16">Training Data</div>
            </div>
          </footer>
        </div>
        <div class="content">
            <div class="slider">
                <input type="radio" name="slide" id="slide1" checked>
                <input type="radio" name="slide" id="slide2">
                <input type="radio" name="slide" id="slide3">
                <input type="radio" name="slide" id="slide4">
                <input type="radio" name="slide" id="slide5">
                <input type="radio" name="slide" id="slide6">
                <input type="radio" name="slide" id="slide7">
                <ul id="imgholder" class="imgs">
                    <li><img src="./images/vlist1.png"></li>
                    <li><img src="./images/vlist2.png"></li>
                    <li><img src="./images/vlist3.png"></li>
                    <li><img src="./images/vlist4.png"></li>
                    <li><img src="./images/vlist5.png"></li>
                    <li><img src="./images/vlist6.png"></li>
                    <li><img src="./images/vlist7.png"></li>
                </ul>
                <div class="bullets">
                    <label for="slide1">&nbsp;</label>
                    <label for="slide2">&nbsp;</label>
                    <label for="slide3">&nbsp;</label>
                    <label for="slide4">&nbsp;</label>
                    <label for="slide5">&nbsp;</label>
                    <label for="slide6">&nbsp;</label>
                    <label for="slide7">&nbsp;</label>
                </div>
            </div>
        
          <div class="data-info-title">
            <div class="violation-class">Violation Class</div>
            <div class="text-wrapper-15">교통법규 위반 사항들을 확인해보세요</div>
          </div>
        </div>
        <header class="header">
          <div class="overlap-10">
            <div class="overlap-group-3">
              <img
                class="inputdata-img"
                src="images/InputData_img.png"
              />
              <img
                class="inputdata-video"
                src="images/InputData_video.gif"
              />
              <p class="text-wrapper-22">&lt; 이미지 데이터 예시 &gt;</p>
              <p class="text-wrapper-23">&lt; 동영상 데이터 예시 &gt;</p>
            </div>
            <div class="data-info-title-2">
              <div class="all-about-data">All About Data</div>
              <div class="text-wrapper-24">어떤 데이터를 입력해야 하나요?</div>
            </div>
          </div>
        </header>
        <div class="navbar">
          <a class="text-wrapper-25" href="#">Data</a>
          <a class="text-wrapper-26" href="simulate.html">Simulate</a>
          <a class="text-wrapper-27" href="service.html">Service</a>
          <a href="https://github.com/KHP95/AIB_TP2" target="_blank" rel="noopener noreferrer"
              ><img
                class="github-mark"
                src="images/github_mark.png"
            /></a>
          <a class="text-wrapper-28" href="index.html">Home</a>
          <img
            class="home-icon"
            src="images/home_icon.png" onclick="location.href='index.html'"  style="cursor: pointer;"
          />
        </div>
      </div>
    </div>
  </body>
</html>
