<!DOCTYPE html>
<html>
  <head lang="ko">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/index_style.css" />

    <style>
      a,
      button,
      input,
      select,
      h1,
      h2,
      h3,
      h4,
      h5,
      * {
        margin: 0;
        padding: 0;
        border: none;
        text-decoration: none;
        appearance: none;
        background: none;
      }
    </style>
    <title>다!잡아파이팅!!</title>
  </head>
  <body>
    <div class="index">
      <div class="copy-right">
        <div class="copyright">© 2023 다!잡아</div>
      </div>
      <a id="footer">
        <div class="footer-team">
          <div class="footer-bg"></div>
          <div class="group-83">
            <div class="tm-1">
              <div class="circle-bg-1"></div>
              <img class="boy-1" src="images/boy1.png" />
              <div class="gmail-com">박준서<br />4ardun<br />@gmail.com</div>
            </div>
            <div class="tm-2">
              <div class="circle-bg-2"></div>
              <img class="boy-2" src="images/boy2.png" />
              <div class="gmail-com2">박경훈<br />dynamics1898<br />@naver.com</div>
            </div>
            <div class="tm-3">
              <div class="circle-bg-3"></div>
              <img class="girl" src="images/girl.png" />
              <div class="gmail-com3">손효은<br />hyoeuns1018<br />@gmail.com</div>
            </div>
            <div class="tm-4">
              <div class="circle-bg-4"></div>
              <img class="boy-4" src="images/boy4.png" />
              <div class="gmail-com4">조현식<br />crewd4752<br />@gmail.com</div>
            </div>
          </div>
        </div>
        <div class="footer-text">
          <div class="team">Team 다!잡아</div>
          <div class="team-text">저희 팀을 소개합니다</div>
        </div>
      </a>
      <div class="content">
        <div class="necessity">
          <div class="necessity-text">
            <div class="why-we-need-the-service">Why we need the service</div>
            <div class="pm">
              PM 교통법규 위반 탐지 기능이 <br />왜 필요할까요?
            </div>
            <div class="necessity-context">
              본 기능은 순찰차 블랙박스에 탑재되어<br />차량 내부 스크린을 통해
              실시간으로 교통법규를 <br />위반한 운전자를 탐지할 수 있습니다
            </div>
          </div>
          <img class="neccesity-video" src="images/necessity_video.gif" />
        </div>
        <div class="pm2">
          <img class="pm-bg" src="images/pmBG.png" />
          <div class="_2-19-2-2-2">
            출처: 「도로교통법」 제2조제19호의2 및 「도로교통법 시행규칙」
            제2조의2
          </div>
          <div class="personal-mobility">Personal Mobility</div>
          <div class="pm-text">개인형 이동장치란 무엇일까요?</div>
          <div class="pm-main">
            <div class="motorcycle">
              <div class="motorcycle-bg"></div>
              <div class="motorcycle-text">전동이륜평행차</div>
            </div>
            <div class="bicycle">
              <div class="bicycle-bg"></div>
              <div class="bicycle-text">전기 자전거</div>
            </div>
            <div class="scooter">
              <div class="scooter-bg"></div>
              <div class="scooter-text">전동킥보드</div>
            </div>
            <img class="scooter2" src="images/scooter.png" /><img
              class="bicycle2"
              src="images/bicycle.png"
            /><img class="motocycle" src="images/motocycle.png" />
          </div>
        </div>
        <div class="flow">
          <div class="service-flow-bg"></div>
          <div class="flow-text">
            <div class="service-flow">Service Flow</div>
            <div class="flow-context">서비스 개발 흐름도를 소개합니다</div>
          </div>
          <div class="flow-diagram">
            <div class="flow-circle-1"></div>
            <div class="pm3">
              개인형 <br />이동장치 (PM)<br />공유 서비스 <br />활성화
            </div>
            <div class="flow-circle-2"></div>
            <div class="_19">
              코로나19로<br />인해<br />배달 서비스<br />급증
            </div>
            <div class="flow-circle-3"></div>
            <div class="_5-pm-96">
              최근 5년간<br />PM 사고율<br />연평균<br />96% 증가
            </div>
            <div class="flow-circle-4"></div>
            <div class="pm-ai">
              PM<br />교통법규<br />위반 탐지<br />AI 모델 제작
            </div>
            <div class="flow-circle-5"></div>
            <div class="pm-last">
              위반 탐지 <br />기능 탑재된<br />순찰차<br />블랙박스
            </div>
          </div>
          <div class="flow-title">
            <div class="pm-2023-04">
              출처: “개인형 이동장치(PM) 교통사고 매년 급증”, 도로교통공단
              보도자료 (2023.04)
            </div>
          </div>
        </div>
      </div>
      <div class="header">
        <div class="index-header-bg"></div>
        <img class="police-car" src="images/policeCar.png" />
        <div class="pm4">
          개인형 이동장치 (PM) 교통법규 위반 <br />운전자 단속을 시작합니다
        </div>
      </div>
      <div class="model-simulate">
        <a class="rectangle-8" href="simulate.html"></a>
        <a class="simulate-page" href="simulate.html">모델 시뮬레이션</a>
      </div>
      <div class="intro-button">
        <a class="rectangle-82" href="service.html"></a>
        <a class="service-page" href="service.html">서비스 자세히 알아보기</a>
      </div>
      <div class="data-button">
        <a class="rectangle-83" href="data.html"></a>
        <a class="data-page" href="data.html">데이터 자세히 알아보기</a>
      </div>
      <div class="index-nav-bar">
        <div class="nav-bar-default">
          <div class="nav-bar-bg"></div>
          <div class="content2">
            <a class="simulate" href="./simulate.html">Simulate</a>
            <a class="data" href="./data.html">Data</a>
            <a class="service" href="./service.html">Service</a>
            <a href="https://github.com/KHP95/AIB_TP2" target="_blank" rel="noopener noreferrer"
              ><img
                class="github-mark"
                src="images/github_mark.png"
            /></a>
            <a class="team-name" href="#">다!잡아</a>
            <img class="logo" src="images/logo.png" onclick="location.href='#'" style="cursor: pointer" />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
