.result {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: auto;
  overflow: hidden;
}

.result .div {
  background-color: #ffffff;
  width: 100%;
  height: 1145px;
  position: relative;
}

.result .copy-right {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  padding: 16px 647px;
  position: absolute;
  top: 1095px;
  left: 0;
  background-color: #d9d9d9;
}

.result .copyright {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "BM DoHyeon-Regular", Helvetica;
  font-weight: 400;
  color: #3d3d3d;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.result .overlap-group {
  position: absolute;
  width: 1261px;
  height: 1025px;
  top: 70px;
  left: 0;
}

.result .policecar-insideimg {
  position: absolute;
  width: 949px;
  height: 1025px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.result .result-subtitle {
  position: absolute;
  width: 263px;
  top: 84px;
  left: 616px;
  font-family: "BM DoHyeon-Regular", Helvetica;
  font-weight: 400;
  color: #26a6fe;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
}

.result .resul-title {
  position: absolute;
  width: 644px;
  top: 129px;
  left: 440px;
  font-family: "BM DoHyeon-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
}

.result .screen {
  position: absolute;
  width: 892px;
  height: 646px;
  top: 264px;
  left: 369px;
  background-color: #ffffff;
  border-radius: 30px;
  border: 15px solid;
  border-color: #000000;
}

.result .navbar {
  position: fixed;
  width: 100%;
  height: 70px;
  top: 0;
  left: 0;
  background-color: #99989859;
}

.result .text-wrapper-2 {
  left: 985px;
  position: absolute;
  top: 24px;
  font-family: "BM DoHyeon-Regular", Helvetica;
  font-weight: 400;
  color: #404040;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.result .text-wrapper-3 {
  left: 1079px;
  position: absolute;
  top: 24px;
  font-family: "BM DoHyeon-Regular", Helvetica;
  font-weight: 400;
  color: #404040;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.result .text-wrapper-4 {
  left: 859px;
  position: absolute;
  top: 24px;
  font-family: "BM DoHyeon-Regular", Helvetica;
  font-weight: 400;
  color: #404040;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.result .githubmark {
  position: absolute;
  width: 45px;
  height: 43px;
  top: 17px;
  left: 1218px;
  object-fit: cover;
}

.result .text-wrapper-5 {
  left: 195px;
  position: absolute;
  top: 24px;
  font-family: "BM DoHyeon-Regular", Helvetica;
  font-weight: 400;
  color: #404040;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.result .home-icon {
  position: absolute;
  width: 35px;
  height: 35px;
  top: 17px;
  left: 145px;
  object-fit: cover;
}
